* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

.container {
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
}

/* Header */
#header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#header .logo img {
  display: inline-block;
  width: 15%;
}

/* Navbar */
#navbar {
  background: #003083;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul a {
  color: #fff;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

#navbar ul a:hover {
  background: #003aa0;
}

#slide img {
  background: #003aa0;
  display: block;
  /* width: 100vw; */
  height: 500px;
}

#search-bar .search {
  background: #fccf3e;
  border: #b68a2c 0.08rem solid;
  border-radius: 0.2rem;
  margin-top: 1rem;
  padding: 1rem;
}

/* Search Bar */
#search-bar .search form {
  display: flex;
  justify-content: space-between;
}

#search-bar .search .form-group input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 600px;
}

#search-bar .search .form-group select {
  font-size: 1rem;
  padding: 0.5rem;
  width: 300px;
}

#search-bar .search .form-group i {
  background: #003083;
  border-radius: 0.2rem;
  color: #fff;
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem;
}

/* Showcase */
#showcase .showcase {
  background: rgb(215, 242, 255);
  border: #ccd5ec 0.08rem solid;
  border-radius: 0.2rem;
  height: 380px;
  margin: 1rem 0;
  text-align: center;
}

#showcase .showcase .heading {
  background: #ff8f00;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

#showcase .showcase .showcase-content {
  display: flex;
}

#showcase .showcase .showcase-content .showcase-items {
  flex: 1;
  margin-top: 1rem;
}

#showcase .showcase .showcase-content .showcase-items img {
  display: inline-block;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 0.5rem 0;
}

#showcase .showcase .showcase-content .showcase-items h4 a {
  color: #003083;
}

#showcase .showcase .showcase-content .showcase-items h4 a:hover {
  font-size: 1.5rem;
}

.content {
  background: rgb(215, 242, 255);
  border-radius: 5px;
  display: flex;
  margin: 2rem 0;
  padding: 1rem;
}

.content img {
  display: block;
}

.content .contents {
  line-height: 1.5;
  padding: 3rem;
}

.content .contents h2 {
  color: rgb(253, 2, 2);
  margin: 0.5rem 0;
}

.content .contents h3 {
  color: #003083;
}

.content .contents p {
  margin: 0.5rem 0;
}

.text-primary {
  background: #ff1100;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
}

#footer {
  background: #01004e;
  color: #fff;
}

#footer p {
  padding: 2rem 0;
  text-align: center;
}
